config CLOCK_CONTROL_SI5351A
    bool "Silicon Labs SI5351a clock generator"
    default y
    depends on DT_HAS_SILABS_SI5351A_ENABLED
    depends on I2C
    help
      Driver for SI5351A programmable clock generator